<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Users - MyResume')"></head>
<body>

<div th:replace="navigation :: menu('users')"></div>

<header id="main-header" class="py-2 bg-primary text-white">
	<div class="container">
		<div class="col-md-6">
			<h1>
				<i class="fas fa-users-cog"></i>
				Users
			</h1>
		</div>
	</div>
</header>


<!-- Actions -->
<section id="actions" class="py-4 mb-4 bg-light">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<a th:href="@{/users/new}" class="btn btn-primary btn-block">
					<i class="fas fa-plus"></i> Add Record
				</a>
			</div>
		</div>
	</div>
</section>

<div class="container">
	<div th:if="${message != null && message == 'There is already an Enabled record. Disable it first and then insert a new one!'}"
		 class="alert alert-danger text-center">
		[[${message}]]
	</div>
	<div th:if="${message != null && message != 'There is already an Enabled record. Disable it first and then insert a new one!'}"
		 class="alert alert-success text-center">
		[[${message}]]
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="card text-center text-white mb-4" th:classappend="${totalItems ==0} ? bg-warning : bg-success">
				<div class="card-body">
					<h3>Records</h3>
					<h4 class="display-4">
						<i class="fas fa-database"></i>
						<span th:text="${totalItems}"></span>
					</h4>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card text-center bg-success text-white mb-4">
				<div class="card-body">
					<h3>Columns</h3>
					<h4 class="display-4">
						<i class="fas fa-columns"></i>
						<span th:text="${noOfCol}"></span>
					</h4>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card text-center text-white mb-4"
				 th:classappend="${activeRecordsCount ==0} ? bg-warning : bg-success">
				<div class="card-body">
					<h3>Enabled Users</h3>
					<h4 class="display-4">
						<i class="fas fa-user"></i>
						<span th:text="${activeRecordsCount}"></span>
					</h4>
				</div>
			</div>
		</div>
	</div>
</div>


<section id="about_section_records">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
                <span th:if="${totalItems ==0}"
					  class="alert alert-danger text-center">No users added!</span>
				<div th:if="${totalItems !=0}" class="card border-0">
					<div class="card-header">
						<h4>
							Users
<!--							<a th:href="@{/users/export/csv}" class="fas fa-file-csv fa-1x icon-dark mr-1"></a>-->
<!--							<a th:href="@{/users/export/excel}"-->
<!--							   class="fas fa-file-excel fa-1x icon-dark mr-1"></a>-->
<!--							<a th:href="@{/users/export/pdf}" class="fas fa-file-pdf fa-1x icon-dark mr-1"></a>-->
						</h4>

					</div>
					<div>
						<form th:action="@{/users/page/1}" class="form-inline m-3">
							<input type="hidden" name="sortField" th:value="${sortField}"/>
							<input type="hidden" name="sortDir" th:value="${sortDir}"/>
							Filter:&nbsp
							<input type="search" name="keyword" th:value="${keyword}" class="form-control" required/>
							&nbsp;&nbsp;
							<button type="submit" class="btn btn-primary"/>
							<i class="fas fa-search"></i>
							</button>
							&nbsp; &nbsp;
							<button type="button" class="btn btn-secondary" onclick="clearFilter()">
								<i class="fas fa-eraser"></i>
							</button>
						</form>
					</div>
					<div class="full-details">
						<table class = "table table-responsive-xl">
							<thead class ="thead-dark">
							<tr>
								<th class="hideable-column">
								<th th:replace="user_fragments :: column_link('id','User id','tag')"/>
								</th>
								<th>Photos</th>
								<th class="hideable-column">
								<th th:replace="user_fragments :: column_link('email','Email','tag')">
								</th>
								<!-- 				<th> -->
								<!-- 				<a th:if="${sortField != 'email'}" -->
								<!-- 				 th:href="@{'/users/page/' + ${currentPage} + '?sortField=email&sortDir=' +${sortDir} +${keyword!=null ? '&keyword='+keyword : ''}}"> -->
								<!-- 				 Email -->
								<!-- 				 </a> -->
								<!-- 				 <a th:if="${sortField == 'email'}" -->
								<!-- 				 th:href="@{'/users/page/' + ${currentPage} + '?sortField=email&sortDir=' +${reverseSortDir}+${keyword!=null ? '&keyword='+keyword : ''}}"> -->
								<!-- 				 Email -->
								<!-- 				 </a> -->

								<!-- 				<span th:if="${sortField == 'email'}" -->
								<!-- 				th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span> -->
								<!-- 				</th> -->

								<th th:replace="user_fragments :: column_link('firstName','First Name','none')"></th>
								<th th:replace="user_fragments :: column_link('lastName','Last Name','none')"></th>
								<th>Roles</th>
								<th th:replace="user_fragments :: column_link('enabled','Enabled','none')"></th>
								<th>Actions</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="user: ${listUsers}">
								<td class = "hideable-column">[[${user.id}]]</td>
								<td>
									<span th:if="${user.photos ==null}" class = "fas fa-portrait fa-3x icon-silver"></span>
									<img class = "uploadedPhoto" th:if="${user.photos !=null}" th:src = "@{${user.photosImagePath}}"/>
								</td>
								<td class = "hideable-column">[[${user.email}]]</td>
								<td>[[${user.firstName}]]</td>
								<td>[[${user.lastName}]]</td>
								<td>[[${user.roles}]]</td>

								<td>
									<a th:if="${user.enabled == true}" class = "fas fa-check-circle fa-2x icon-green"
									   th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
									   title = "Disable this user"
									></a>
									<a th:if="${user.enabled != true}" class = "fas fa-circle fa-2x icon-dark"
									   th:href="@{'/users/' + ${user.id} + '/enabled/true'}"
									   title = "Enable this user"
									></a>
								</td>
								<td><a class = "fas fa-edit fa-2x icon-silver" th:href="@{'/users/edit/' + ${user.id}}"
									   title = "Edit the user"></a>
									<a class ="fas fa-trash fa-2x icon-silver link-delete" th:href="@{'/users/delete/' + ${user.id}}"
									   th:userId = "${user.id}"
									   title = "Delete this user"></a>
								</td>
							</tr>

							</tbody>
						</table>

					</div>


					<div class="less-details">
						<div th:each="user: ${listUsers}" class="row m-1">
							<div class="col-4">
								<span th:if="${user.photos ==null}" class = "fas fa-portrait fa-3x icon-silver"></span>
								<img class = "uploadedPhoto" th:if="${user.photos !=null}" th:src = "@{${user.photosImagePath}}"/>
							</div>
							<div class="col-8">
								<div>[[${user.fullName}]]</div>
								<div>[[${user.roles}]]</div>
								<div class="mt-2">
									<a th:if="${user.enabled == true}" class = "fas fa-check-circle fa-2x icon-green"
									   th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
									   title = "Disable this user"
									></a>
									<a th:if="${user.enabled != true}" class = "fas fa-circle fa-2x icon-dark"
									   th:href="@{'/users/' + ${user.id} + '/enabled/true'}"
									   title = "Enable this user"
									></a>
									<a class = "fas fa-edit fa-2x icon-silver" th:href="@{'/users/edit/' + ${user.id}}"
									   title = "Edit the user"></a>
									<a class ="fas fa-trash fa-2x icon-silver link-delete" th:href="@{'/users/delete/' + ${user.id}}"
									   th:userId = "${user.id}"
									   title = "Delete this user"></a>

								</div>
							</div>
							<div>&nbsp;</div>
						</div>
					</div>
					<div  class = "text-center m-1">
		<span th:if="${currentPage > totalPages}">
		No Users found
		 </span>
						<span th:unless="${currentPage > totalPages}">
		 Showing users # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]
		 </span>
					</div>
					<div th:if="${totalPages > 1}">

						<nav>
							<ul class="pagination justify-content-center flex-wrap">
								<li th:class ="${currentPage > 1 ? 'page-item': 'page-item disabled'}">
									<a class="page-link" th:href="@{'/users/page/1'+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+${keyword!=null ? '&keyword='+keyword : ''}}">First</a>
								</li>
								<li th:class ="${currentPage > 1 ? 'page-item': 'page-item disabled'}">
									<a class="page-link" th:href="@{'/users/page/'+${currentPage-1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+${keyword!=null ? '&keyword='+keyword : ''}}">Previous</a>
								</li>
								<li th:class="${currentPage != i ? 'page-item': 'page-item active'}"
									th:each ="i:${#numbers.sequence(1,totalPages)}">
									<a class="page-link" th:href="@{'/users/page/' + ${i} +'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+${keyword!=null ? '&keyword='+keyword : ''}}">[[${i}]]</a>
								</li>

								<li th:class ="${currentPage < totalPages ? 'page-item': 'page-item disabled'}">
									<a class="page-link" th:href="@{'/users/page/'+${currentPage+1} +'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+${keyword!=null ? '&keyword='+keyword : ''}}">Next</a>
								</li>
								<li th:class ="${currentPage < totalPages ? 'page-item': 'page-item disabled'}">
									<a class="page-link" th:href="@{'/users/page/'+${totalPages} +'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+${keyword!=null ? '&keyword='+keyword : ''}}">Last</a>
								</li>
							</ul>
						</nav>

					</div>


				</div>
			</div>
		</div>
	</div>
</section>

<div class="modal fade text-center" id="confirmModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Delete Confirmation</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<div class="modal-body">
				<span id="confirmText"></span>
			</div>

			<div class="modal-footer">
				<a class="btn btn-success" href="" id="yesButton">Yes</a>
				<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
	$(".link-delete").on("click", function(e){
		e.preventDefault();
		link = $(this);
		userId = link.attr("userId");
		$("#yesButton").attr("href",link.attr("href"));
		$("#confirmText").text("Are you sure you want to delete this user ID " + userId +"?");
		$("#confirmModal").modal();
	});
	});
	
	function clearFilter(){
	window.location = "[[@{/users}]]"
	}
</script>

</body>
</html>