*.icon-white {color:white}
*.icon-silver {color:silver}
*.icon-green {color:green}
*.icon-dark {color:gray}
*.icon-blue {color:blue}
*.icon-red {color:red}

.fa-circle:before {
	text-decoration:none;
}

.textareaWrap
{
	white-space: pre;

}

#thumbnail {
width:30%
}

.uploadedPhoto {
	width:100px;
}
.error {
	color:red;
}

#profilePhoto {
	border-radius:50%;
	padding:2px;
}

@media screen and (max-width: 768px){
	/* small screen */
	div.full-details {display:none}
	div.less-details {display:block}
	.search-form {margin-bottom:3px}
}

@media screen and (min-width: 768px) and (max-width: 1024px){
	/* medium screen */
	div.full-details {display:block}
	div.less-details {display:none}
	.hideable-column{display:none}
}

@media screen and (min-width: 1024px){
	/* large screen */
	div.less-details {display:none}
	.hideable-column{display:table-cell}

}

.less_details_row {
	border-bottom: 1px solid black;
	padding-top: 2px;
}

