<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: page_head('About Section - MyResume')"></head>
<body>

<div th:replace="navigation :: menu('about_section')"></div>

<!-- Header -->
<header id="main-header" class="py-2 bg-primary text-white mb-2">
    <div class="container">
        <div class="col-md-6">
            <h1>
                <i class="fas fa-address-book"></i>
                About Section
            </h1>
        </div>
    </div>
</header>




<div class="container">
    <div th:if="${message != null && message == 'There is already an Enabled record. Disable it first and then insert a new one!'}"
         class="alert alert-danger text-center">
        [[${message}]]
    </div>
    <div th:if="${message != null && message != 'There is already an Enabled record. Disable it first and then insert a new one!'}"
         class="alert alert-success text-center">
        [[${message}]]
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card text-center text-white mb-4" th:classappend="${totalItems ==0} ? bg-warning : bg-success">
                <div class="card-body">
                    <h3>Records</h3>
                    <h4 class="display-4">
                        <i class="fas fa-database"></i>
                        <span th:text="${totalItems}"></span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center bg-success text-white mb-4">
                <div class="card-body">
                    <h3>Columns</h3>
                    <h4 class="display-4">
                        <i class="fas fa-columns"></i>
                        <span th:text="${noOfCol}"></span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center text-white mb-4"
                 th:classappend="${activeRecordsCount ==0} ? bg-warning : bg-success">
                <div class="card-body">
                    <h3>Enabled Records</h3>
                    <h4 class="display-4">
                        <i class="fas fa-user"></i>
                        <span th:text="${activeRecordsCount}"></span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="about_section_records">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-0">
                    <div class="card-header">
                        <h4>
                            Records for the About Section
                            <a th:href="@{/about_section/export/csv}" class="fas fa-file-csv fa-1x icon-green mr-1"></a>
                            <a th:href="@{/about_section/export/excel}"
                               class="fas fa-file-excel fa-1x icon-green mr-1"></a>
                            <a th:href="@{/about_section/export/pdf}" class="fas fa-file-pdf fa-1x icon-green mr-1"></a>
                        </h4>

                    </div>


                    <div class="full-details" id="main_section">
                        <div>
                            <form id="searchForm" th:action="@{/about_section/page/1/}" class="form-inline m-3">
                                <input type="hidden" name="sortField" th:value="${sortField}"/>
                                <input type="hidden" name="sortDir" th:value="${sortDir}"/>
                                <h5>Filter:&nbsp</h5>
                                <input type="search" name="keyword" th:value="${keyword}" class="form-control search-form mr-2" required/>
                                <button type="submit" class="btn btn-success"/>
                                <i class="fas fa-search"></i>
                                </button>
                                <button type="button" class="btn btn-danger ml-2" onclick="clearFilter()"/>
                                <i class="fas fa-eraser"></i>
                                </button>
                                <a th:href="@{/about_section/new}">
                                    <button type="button" class="btn btn-primary ml-2"/>
                                    <i class="fas fa-plus"></i>
                                    </button>
                                </a>

                            </form>

                        </div>
                        <table class="table table-responsive">
                            <thead class="thead-dark">
                            <tr class="d-flex">
                                <th class="hideable-column col-1" id="id">
                                <th th:replace="fragments :: column_link('id','Id','tag','about_section')"/>
                                </th>
                                <th class="col-2">Profile Photo</th>


                                <th class="col-1" id="name">
                                    <div th:replace="fragments :: column_link('name', 'Name','none','about_section')">
                                    </div>

                                </th>

                                <th class="col-1" id="header">
                                    <div th:replace="fragments :: column_link('header', 'Header','none','about_section')">
                                    </div>
                                </th>

                                <th class="col-2" id="currentJob">

                                    <div th:replace="fragments :: column_link('currentJob', 'Current Job','none','about_section')">
                                    </div>

                                </th>
                                <th class="col-3">Short Description</th>
                                <th class="col-1">Web site</th>
                                <th class="col-2">City</th>
                                <th class="col-2">Degree</th>
                                <th class="col-2">Email</th>
                                <th class="col-1">Footer</th>
                                <th class="col-1" id="enabled">Enabled</th>
                                <th class="col-1">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="d-flex" th:each="i: ${listAboutRecords}">
                                <td class="col-1 hideable-column">
                                    <span class="badge badge-primary">
                                    [[${i.id}]]
                                    </span>
                                </td>
                                <td class="col-2">
                                    <span th:if="${i.profilePhoto ==null}"
                                          class="fas fa-portrait fa-3x icon-silver"></span>
                                    <img class="uploadedPhoto" th:if="${i.profilePhoto !=null}"
                                         th:src="@{${i.profilePhotoImagePath}}"/>
                                </td>
                                <td class="col-1">[[${i.name}]]</td>
                                <td class="col-1">[[${i.header}]]</td>
                                <td class="col-2">[[${i.currentJob}]]</td>
                                <td th:class="${i.shortDesc.contains('#ffffff')} ? 'col-3 bg-dark' : 'col-3'" th:utext="${i.shortDesc}"></td>
                                <td class="col-1"><a th:href="${i.webSite}">Click Here</a></td>
                                <td class="col-2">[[${i.city}]]</td>
                                <td class="col-2">[[${i.degree}]]</td>
                                <td class="col-2">[[${i.email}]]</td>
                                <td class="col-1">[[${i.footer}]]</td>
                                <td class="col-1">
                                    <a th:if="${i.currInd == true}" class="fas fa-check-circle fa-2x icon-green text-decoration-none"
                                       th:href="@{'/about_section/' + ${i.id} + '/currInd/false#enabled'}"
                                       title="Disable this user" style=""
                                    ></a>
                                    <a th:if="${i.currInd != true}" class="fas fa-circle fa-2x icon-dark text-decoration-none"
                                       th:href="@{'/about_section/' + ${i.id} + '/currInd/true#enabled'}"
                                       title="Enable this user"
                                    ></a>
                                </td>
                                <td class="col-1"><a class="fas fa-edit fa-2x icon-blue text-decoration-none"
                                                     th:href="@{'/about_section/edit/' + ${i.id}}"
                                                     title="Edit the user"></a>
                                    <a class="fas fa-trash fa-2x link-delete icon-red text-decoration-none"
                                       th:href="@{'/about_section/delete/' + ${i.id}}"
                                       th:aboutSectionId="${i.id}"
                                       title="Delete this user"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="text-center m-1">
				<span class="alert alert-danger" th:if="${currentPage > totalPages}">
				No records found
				</span>
                            <span th:unless="${currentPage > totalPages}">
		 		Showing records # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]
		 		</span>
                        </div>
                        <div th:if="${totalPages > 1}">
                            <nav>
                                <ul class="pagination justify-content-center">
                                    <li th:class="${currentPage > 1 ? 'page-item': 'page-item disabled'}">
                                        <a class="page-link"
                                           th:href="@{'/about_section/page/1'+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+${keyword!=null ? '&keyword='+keyword : ''}+'#main_section'}">First</a>
                                    </li>
                                    <li th:class="${currentPage > 1 ? 'page-item': 'page-item disabled'}"><a class="page-link"
                                                                                                             th:href="@{'/about_section/page/'+${currentPage-1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+${keyword!=null ? '&keyword='+keyword : ''}+'#main_section'}">Previous</a>
                                    </li>
                                    <li th:class="${currentPage != i ? 'page-item': 'page-item active'}"
                                        th:each="i:${#numbers.sequence(1,totalPages)}">
                                        <a class="page-link"
                                           th:href="@{'/about_section/page/' + ${i}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+${keyword!=null ? '&keyword='+keyword : ''}+'#main_section'}">[[${i}]]</a>
                                    </li>
                                    <li th:class="${currentPage < totalPages ? 'page-item': 'page-item disabled'}"><a
                                            class="page-link"
                                            th:href="@{'/about_section/page/'+${currentPage+1}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+${keyword!=null ? '&keyword='+keyword : ''}+'#main_section'}">Next</a>
                                    </li>
                                    <li th:class="${currentPage < totalPages ? 'page-item': 'page-item disabled'}">
                                        <a class="page-link"
                                           th:href="@{'/about_section/page/'+${totalPages}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+${keyword!=null ? '&keyword='+keyword : ''}+'#main_section'}">
                                            Last</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>


                    <div class="less-details" id="main">
                        <div>
                            <form th:action="@{/about_section/page/1}" class="form-inline m-3">
                                <input type="hidden" name="sortField" th:value="${sortField}"/>
                                <input type="hidden" name="sortDir" th:value="${sortDir}"/>
                                <h5>Filter:&nbsp</h5>
                                <input type="search" name="keyword" th:value="${keyword}" class="form-control search-form mr-2" required/>
                                <button type="submit" class="btn btn-success"/>
                                <i class="fas fa-search"></i>
                                </button>
                                <button type="button" class="btn btn-danger ml-2" onclick="clearFilterMobile()"/>
                                <i class="fas fa-eraser"></i>
                                </button>
                                <a th:href="@{/about_section/new}">
                                    <button type="button" class="btn btn-primary ml-2"/>
                                    <i class="fas fa-plus"></i>
                                    </button>
                                </a>

                            </form>

                        </div>
                        <div th:each="i: ${listAboutRecords}" class="row m-1 less_details_row">
                            <div class="col-4">
                                <span th:if="${i.profilePhoto ==null}"
                                      class="fas fa-portrait fa-3x icon-silver"></span>
                                <img class="uploadedPhoto" th:if="${i.profilePhoto !=null}"
                                     th:src="@{${i.profilePhotoImagePath}}"/>
                                <div class="mt-2">
                                    <a th:if="${i.currInd == true}" class="fas fa-check-circle icon-green"
                                       th:href="@{'/about_section/' + ${i.id} + '/currInd/false'}"
                                       title="Disable this user"></a>
                                    <a th:if="${i.currInd != true}" class="fas fa-circle icon-dark"
                                       th:href="@{'/about_section/' + ${i.id} + '/currInd/true'}"
                                       title="Enable this user"></a>
                                    <a class="fas fa-edit icon-silver text-decoration-none"
                                       th:href="@{'/about_section/edit/' + ${i.id}}"
                                       title="Edit the user"></a>
                                    <a class="fas fa-trash icon-silver link-delete text-decoration-none"
                                       th:href="@{'/about_section/delete/' + ${i.id}}"
                                       th:aboutSectionId="${i.id}" title="Delete this user"></a>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="row">
                                <div class="col-5">
                                    <span class="text-primary font-weight-bold">
                                        Name
                                    </span>
                                </div>
                                <div class="col-7">
                                       <span class="text-info">
                                            [[${i.name}]]
                                        </span>
                                </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                    <span class="text-primary font-weight-bold">
                                        Header
                                    </span>
                                    </div>
                                    <div class="col-7">
                                       <span class="text-info">
                                            [[${i.header}]]
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                    <span class="text-primary font-weight-bold">
                                        Current Job
                                    </span>
                                    </div>
                                    <div class="col-7">
                                       <span class="text-info">
                                            [[${i.currentJob}]]
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <span class="text-primary font-weight-bold">Short Description</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div th:class="${i.shortDesc.contains('#ffffff')} ? 'bg-dark pt-1 pb-1 pl-1 pr-1 font-weight-light' : ''" th:utext="${i.shortDesc}"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                    <span class="text-primary font-weight-bold">
                                        Website
                                    </span>
                                    </div>
                                    <div class="col-7">
                                        </span><a th:href="${i.webSite}"><span class="badge badge-info">Click Here</span></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                    <span class="text-primary font-weight-bold">
                                        City
                                    </span>
                                    </div>
                                    <div class="col-7">
                                       <span class="text-info">
                                            [[${i.city}]]
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                    <span class="text-primary font-weight-bold">
                                        Degree
                                    </span>
                                    </div>
                                    <div class="col-7">
                                       <span class="text-info">
                                            [[${i.degree}]]
                                        </span>
                                    </div>
                                </div>


                                <div class="row" th:if="${i.email.length() <= 11}">
                                    <div class="col-5">
                                    <span class="text-primary font-weight-bold">
                                        Email
                                    </span>
                                    </div>
                                    <div class="col-7">
                                       <span class="text-info">
                                            [[${i.email}]]
                                        </span>
                                    </div>
                                </div>

                                <div class="row" th:if="${i.email.length() > 11}">
                                    <div class="col-12">
                                    <span class="text-primary font-weight-bold">
                                        Email
                                    </span>
                                    </div>
                                </div>
                                <div class="row" th:if="${i.email.length() > 11}">
                                    <div class="col-12">
                                       <span class="text-info">
                                            [[${i.email}]]
                                        </span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-5">
                                    <span class="text-primary font-weight-bold">
                                        Footer
                                    </span>
                                    </div>
                                    <div class="col-7">
                                       <span class="text-info">
                                            [[${i.footer}]]
                                        </span>
                                    </div>
                                </div>

                            </div>


                        </div>


                        <div class="text-center m-1">
				<span class="alert alert-danger" th:if="${currentPage > totalPages}">
				No records found
				</span>
                            <span th:unless="${currentPage > totalPages}">
		 		Showing records # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]
		 		</span>
                        </div>
                        <div th:if="${totalPages > 1}">
                            <nav>
                                <ul class="pagination justify-content-center">
                                    <li th:class="${currentPage > 1 ? 'page-item': 'page-item disabled'}">
                                        <a class="page-link"
                                           th:href="@{'/about_section/page/1'+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+${keyword!=null ? '&keyword='+keyword : ''}+'#main'}">First</a>
                                    </li>
                                    <li th:class="${currentPage > 1 ? 'page-item': 'page-item disabled'}"><a class="page-link"
                                                                                                             th:href="@{'/about_section/page/'+${currentPage-1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+${keyword!=null ? '&keyword='+keyword : ''}+'#main'}">Previous</a>
                                    </li>
                                    <li th:class="${currentPage != i ? 'page-item': 'page-item active'}"
                                        th:each="i:${#numbers.sequence(1,totalPages)}">
                                        <a class="page-link"
                                           th:href="@{'/about_section/page/' + ${i}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+${keyword!=null ? '&keyword='+keyword : ''}+'#main'}">[[${i}]]</a>
                                    </li>
                                    <li th:class="${currentPage < totalPages ? 'page-item': 'page-item disabled'}"><a
                                            class="page-link"
                                            th:href="@{'/about_section/page/'+${currentPage+1}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+${keyword!=null ? '&keyword='+keyword : ''}+'#main'}">Next</a>
                                    </li>
                                    <li th:class="${currentPage < totalPages ? 'page-item': 'page-item disabled'}">
                                        <a class="page-link"
                                           th:href="@{'/about_section/page/'+${totalPages}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+${keyword!=null ? '&keyword='+keyword : ''}+'#main'}">
                                            Last</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>


                    </div>



                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="fragments :: footer(0)"></div>

<div class="modal fade text-center" id="confirmModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <span id="confirmText"></span>
            </div>

            <div class="modal-footer">
                <a class="btn btn-success" href="" id="yesButton">Yes</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            link = $(this);
            aboutSectionId = link.attr("aboutSectionId");
            $("#yesButton").attr("href", link.attr("href"));
            $("#confirmText").text("Are you sure you want to delete this user ID " + aboutSectionId + "?");
            $("#confirmModal").modal();
        });
    });

    function clearFilterMobile() {
        window.location = "[[@{/about_section#main}]]"
    }
    function clearFilter() {
        window.location = "[[@{/about_section#main_section}]]"
    }
</script>

</body>
</html>