<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: page_head('Skills Section - MyResume')"></head>
<body>

<div th:replace="navigation :: menu('skills_section')"></div>

<!-- Header -->
<div th:replace="fragments :: header('fas fa-cog','Skills Section')"></div>


<!-- Actions -->
<div class="container">
    <div th:if="${message != null}"
         class="alert alert-success text-center">
        [[${message}]]
    </div>
</div>

<div th:replace="fragments :: dynamicCounts(${totalItems},${noOfCol},${activeRecordsCount})"></div>

<section id="skills_section_records">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-0">
                    <div class="card-header">
                        <h4>
                            Records for the Skills Section
                        </h4>

                    </div>
                    <div class="full-details">
                        <form th:action="@{/skills_section/page/1}" class="form-inline m-3">
                            <input type="hidden" name="sortField" th:value="${sortField}"/>
                            <input type="hidden" name="sortDir" th:value="${sortDir}"/>
                            <h5>Filter:&nbsp</h5>
                            <input type="search" name="keyword" th:value="${keyword}" class="form-control search-form mr-2" required/>
                            <button type="submit" class="btn btn-success"/>
                            <i class="fas fa-search"></i>
                            </button>
                            <button type="button" class="btn btn-danger ml-2" onclick="clearFilter()">
                                <i class="fas fa-eraser"></i>
                            </button>
                            <a th:href="@{/skills_section/new}">
                                <button type="button" class="btn btn-primary ml-2"/>
                                <i class="fas fa-plus"></i>
                                </button>
                            </a>
                        </form>
                    </div>
                    <div class="full-details">
                        <table class="table">
                            <thead class ="thead-dark">
                            <tr>
                                <th id="skillCategory">
                                    <div th:replace="fragments :: column_link('skillCategory', 'Skill Category','none','skills_section')">
                                    </div>
                                </th>
                                <th id="skillTitle">
                                    <div th:replace="fragments :: column_link('skillTitle', 'Skill Title','none','skills_section')">
                                    </div>
                                </th>
                                <th id="skillDescription">
                                    <div th:replace="fragments :: column_link('skillDescription', 'Skill Description','none','skills_section')">
                                    </div>
                                </th>
                                <th id="skillLevel">
                                    <div th:replace="fragments :: column_link('skillLevel', 'Skill Level','none','skills_section')">
                                    </div>
                                </th>
                                <th>Enabled
                                </th>
                                <th>Actions
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="i: ${listSkillsRecords}">
                                <td>
                                    <span>[[${i.skillCategory}]]</span>
                                </td>
                                <td>[[${i.skillTitle}]]</td>
                                <td>[[${i.skillDescription}]]</td>
                                <td>[[${i.skillLevel}]]</td>
                                <td>
                                    <a th:if="${i.enabled == true}" class="fas fa-check-circle fa-2x icon-green"
                                       th:href="@{'/skills_section/' + ${i.id} + '/enabled/false'}"
                                       title="Disable this user"
                                    ></a>
                                    <a th:if="${i.enabled != true}" class="fas fa-circle fa-2x icon-dark"
                                       th:href="@{'/skills_section/' + ${i.id} + '/enabled/true'}"
                                       title="Enable this user"
                                    ></a>
                                </td>
                                <td><a class = "fas fa-edit fa-2x icon-silver" th:href="@{'/skills_section/edit/' + ${i.id}}"
                                       title = "Edit this skill"></a>
                                    <a class ="fas fa-trash fa-2x icon-silver link-delete" th:href="@{'/skills_section/delete/' + ${i.id}}"
                                       th:skillSectionId = "${i.id}"
                                       title = "Delete this skill"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="less-details" id="main" style="white-space: nowrap">
                        <form th:action="@{/skill_section/page/1}" class="form-inline">
                            <input type="hidden" name="sortField" th:value="${sortField}"/>
                            <input type="hidden" name="sortDir" th:value="${sortDir}"/>
                            <h5>Filter:&nbsp</h5>
                            <input type="search" name="keyword" th:value="${keyword}"
                                   class="form-control search-form mr-2"/>
                            <button type="submit" class="btn btn-success"/>
                            <i class="fas fa-search"></i>
                            </button>
                            <button type="button" class="btn btn-danger ml-2" onclick="clearFilter()"/>
                            <i class="fas fa-eraser"></i>
                            </button>
                            <a th:href="@{/skills_section/new}">
                                <button type="button" class="btn btn-primary ml-2"/>
                                <i class="fas fa-plus"></i>
                                </button>
                            </a>
                        </form>

                        <hr style="width:94%;">

                            <table class="table table-responsive table-borderless" style="display:table;">
                                <tbody th:each="i: ${listSkillsRecords}">
                                <tr>
                                    <td><span class="text-primary font-weight-bold">Skill Category</span></td>
                                    <td class="text-center"><span class="text-info">[[${i.skillCategory}]]</span></td>
                                </tr>
                                <tr>
                                    <td><span class="text-primary font-weight-bold">Skill Title</span></td>
                                    <td class="text-center"><span class="text-info">[[${i.skillTitle}]]</span></td>
                                </tr>
                                <tr>
                                    <td><span class="text-primary font-weight-bold">Skill Level</span></td>
                                    <td class="text-center"><span class="text-info">[[${i.skillLevel}]]</span></td>
                                </tr>
                                <tr>
                                    <td><span class="text-primary font-weight-bold">Enabled</span></td>
                                    <td class="text-center"><a th:if="${i.enabled == true}" class="fas fa-check-circle fa-2x icon-green"
                                           th:href="@{'/skills_section/' + ${i.id} + '/enabled/false'}"
                                           title="Disable this language"></a>
                                        <a th:if="${i.enabled != true}" class="fas fa-circle fa-2x icon-dark"
                                           th:href="@{'/skills_section/' + ${i.id} + '/enabled/true'}"
                                           title="Enable this language"></a></td>
                                </tr>
                                <tr>
                                    <td><span class="text-primary font-weight-bold">Actions</span></td>
                                    <td class="text-center">
                                        <a class="fas fa-edit icon-silver fa-2x text-decoration-none"
                                                   th:href="@{'/skills_section/edit/' + ${i.id}}"
                                                   title="Edit this language"></a>
                                        <a class="fas fa-trash icon-silver link-delete fa-2x text-decoration-none"
                                                   th:href="@{'/skills_section/delete/' + ${i.id}}"
                                                   th:skillSectionId="${i.id}" title="Delete this skill"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <hr style="width:100%;">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                    </div>

                    <div class="text-center m-1">
				<span class="alert alert-danger" th:if="${currentPage > totalPages}">
				No records found
				</span>
                        <span th:unless="${currentPage > totalPages}">
		 		Showing records # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]
		 		</span>
                    </div>
                    <div th:if="${totalPages > 1}">
                        <nav>
                            <ul class="pagination justify-content-center">
                                <li th:class="${currentPage > 1 ? 'page-item': 'page-item disabled'}">
                                    <a class="page-link"
                                       th:href="@{'/skills_section/page/1'+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+${keyword!=null ? '&keyword='+keyword : ''}}">First</a>
                                </li>
                                <li th:class="${currentPage > 1 ? 'page-item': 'page-item disabled'}"><a class="page-link"
                                                                                                         th:href="@{'/skills_section/page/'+${currentPage-1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+${keyword!=null ? '&keyword='+keyword : ''}}">Previous</a>
                                </li>
                                <li th:class="${currentPage != i ? 'page-item': 'page-item active'}"
                                    th:each="i:${#numbers.sequence(1,totalPages)}">
                                    <a class="page-link"
                                       th:href="@{'/skills_section/page/' + ${i}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+${keyword!=null ? '&keyword='+keyword : ''}}">[[${i}]]</a>
                                </li>
                                <li th:class="${currentPage < totalPages ? 'page-item': 'page-item disabled'}"><a
                                        class="page-link"
                                        th:href="@{'/skills_section/page/'+${currentPage+1}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+${keyword!=null ? '&keyword='+keyword : ''}}">Next</a>
                                </li>
                                <li th:class="${currentPage < totalPages ? 'page-item': 'page-item disabled'}">
                                    <a class="page-link"
                                       th:href="@{'/skills_section/page/'+${totalPages}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+${keyword!=null ? '&keyword='+keyword : ''}}">Last</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade text-center" id="confirmModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <span id="confirmText"></span>
            </div>

            <div class="modal-footer">
                <a class="btn btn-success" href="" id="yesButton">Yes</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            link = $(this);
            skillSectionId = link.attr("skillSectionId");
            $("#yesButton").attr("href", link.attr("href"));
            $("#confirmText").text("Are you sure you want to delete this skill " + skillSectionId + "?");
            $("#confirmModal").modal();
        });
    });

    function clearFilter() {
        window.location = "[[@{/skills_section}]]"
    }
</script>

</body>
</html>