<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MyResume</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <style>
        html, body, h1, h2, h3, h4, h5, h6 {
            font-family: "Roboto", sans-serif
        }
    </style>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
</head>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

            <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container" th:each="i: ${listAboutRecords}">
                    <img th:src="@{${i.profilePhotoImagePath}}" style="width:100%" alt="Avatar">
                    <div class="w3-display-bottomcenter w3-container w3-text-black">
                        <h2>[[${i.name}]]</h2>
                    </div>
                </div>
                <div class="w3-container">
                    <div th:each="i: ${listAboutRecords}">
                        <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>[[${i.currentJob}]]
                        </p>
                        <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>[[${i.city}]]</p>
                        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>[[${i.email}]]</p>
                        <p><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-large w3-text-teal"></i>[[${i.degree}]]
                        </p>
                        <p><a th:href="@{${i.webSite}}"><i
                                class="fa fa-linkedin fa-fw w3-margin-right w3-large w3-text-teal"></i>Website</a></p>
                        <p th:utext="${i.shortDesc}"><i
                                class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i></p>
                        <hr>
                    </div>

                    <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b>
                    </p>
                    <div th:each="i: ${listSkillRecords}">
                        <p th:text="${i.skillTitle}"></p>
                        <div class="w3-light-grey w3-round-xlarge w3-small" th:if="${i.skillLevel>70}">
                            <div class="w3-container w3-center w3-round-xlarge w3-green"
                                 th:style="|width:${i.skillLevel}%|" th:text="${i.skillLevel}"></div>
                        </div>
                      <div class="w3-light-grey w3-round-xlarge w3-small" th:if="${i.skillLevel>40 && i.skillLevel<=70}">
                        <div class="w3-container w3-center w3-round-xlarge w3-yellow"
                             th:style="|width:${i.skillLevel}%|" th:text="${i.skillLevel}"></div>
                      </div>
                      <div class="w3-light-grey w3-round-xlarge w3-small" th:if="${i.skillLevel<=40}">
                        <div class="w3-container w3-center w3-round-xlarge w3-red"
                             th:style="|width:${i.skillLevel}%|" th:text="${i.skillLevel}"></div>
                      </div>
                    </div>
                    <br>

                    <hr>
                    <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b>
                    </p>
                    <div th:each="i: ${listLanguageRecords}">
                    <p th:text="${i.language}"></p>
                        <div class="w3-light-grey w3-round-xlarge w3-small" th:if="${i.languageLevel>70}">
                            <div class="w3-container w3-center w3-round-xlarge w3-green"
                                 th:style="|width:${i.languageLevel}%|" th:text="${i.languageLevel}"></div>
                        </div>
                        <div class="w3-light-grey w3-round-xlarge w3-small" th:if="${i.languageLevel>40 && i.languageLevel<=70}">
                            <div class="w3-container w3-center w3-round-xlarge w3-yellow"
                                 th:style="|width:${i.languageLevel}%|" th:text="${i.languageLevel}"></div>
                        </div>
                        <div class="w3-light-grey w3-round-xlarge w3-small" th:if="${i.languageLevel<=40}">
                            <div class="w3-container w3-center w3-round-xlarge w3-red"
                                 th:style="|width:${i.languageLevel}%|" th:text="${i.languageLevel}"></div>
                        </div>
                    <br>
                    </div>
                </div>
            </div>
            <br>

            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">

            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i
                        class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
                <div class="w3-container" th:each="i: ${listWorkRecords}">
                    <h5 class="w3-opacity"><b>[[${i.jobName}]] / [[${i.company}]]</b> <img src="https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg" class="img-thumbnail" alt="Cinque Terre" width="44"></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>[[${i.fromDate}]] / [[${i.toDate}]] ([[${i.dateDiff}]])</h6>
                    <p th:utext="${i.jobDesc}"></p>
                    <hr>
                </div>
            </div>

            <div class="w3-container w3-card w3-white">
                <h2 class="w3-text-grey w3-padding-16"><i
                        class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>W3Schools.com</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Forever</h6>
                    <p>Web Development! All I need to know in one place</p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>London Business School</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013 - 2015</h6>
                    <p>Master Degree</p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>School of Coding</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 - 2013</h6>
                    <p>Bachelor Degree</p><br>
                </div>
            </div>

            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
    <p>Find me on social media.</p>
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
    var d = new Date();
    var month = d.getMonth()+1;
    var day = d.getDate();
    var output = d.getFullYear() + '-' +
        ((''+month).length<2 ? '0' : '') + month + '-' +
        ((''+day).length<2 ? '0' : '') + day;

    $(".w3-text-teal").text(function () {
        return $(this).text().replace(output, "Present");
    });
</script>
</body>
</html>
